<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
<link href="/style/index_2b57e9a86c0d81d3ee69.css" rel="stylesheet"></head>
<body>
    <div class="header"><%=header%></div>
    <div class="banner">
    <img src="/images/banner_f12ba1c53e2c74cebb43dfd387cfcc29.png" alt="">
</div>
<%=banner%>
    <h3><%=body%></h3>
<script type="text/javascript" src="/script/index_2b57e9a86c0d81d3ee69.js"></script></body>
</html>