<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
<link href="/style/index.css" rel="stylesheet"></head>
<body>
	index
	<%include ../../widget/banner/banner.ejs%>
<script type="text/javascript" src="/script/index.js"></script></body>
</html>