<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	${require('../../layout/layout.ejs')}
	${require('../../widget/banner/banner.ejs')}
	<h3><%=body%></h3>
</body>
</html>